#upload.home
	.text-vcenter.font_prompt
		h1.hackertext No One Can Steal Your File
		h3.white-text (except Hackerman)
// /first section
// second section - About
#about.pad-section.font_prompt(style='background: linear-gradient(90deg, #cfecd0, #ffc5ca)')
	.container.trans_container.font_1dot4(style='padding-left:2em;padding-right:2em;')
		br
		table.tables
			thead
				tr
					th File Name
					th Actions
			tbody
				tr(ng-repeat='list in file_array.file' ng-if='files.length>0')
					td {{list.file}}
					td
						button.btn.btn-info(style='max-width: 150px')
							.fa.fa-download
							| &nbsp;Download
						button.btn(style='max-width: 100px') 
							.fa.fa-trash
							| &nbsp;Delete
