.login_module.font_prompt
	.row
		.col-sm-6.col-md-5.hidden-xs.hidden-sm
			img.center-block.img-responsive(src='../assets/img/hacker_login.png', alt='')
		.col-md-1.hidden-xs.hidden-sm
			.border-login
		.col-sm-12.col-xs-12.col-md-4
			.space-top
				form(name='fmLogin', novalidate='', ng-show='!auth.isLogged', ng-submit='login()')
					h3.text-center เข้าสู่ระบบ
					form.form-signin
						label  Username
						input.form-control(type='text', name='username', ng-model='user.username', ng-required='true')
						label  Password
						input.form-control(type='password', name='password', ng-model='user.password', ng-required='true')
						button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-disabled='fmLogin.$invalid' style='padding:1em')
							.font_1dot2
								.fa.fa-sign-in
								| &nbsp;Log In
			p.text-center(ng-show='auth.isLogged')
				| เข้าสู่ระบบสำเร็จ! 
				a.font_1dot2(href='#/admin', data-toggle='modal', data-target='#myModal') ไปหน้าอัปโหลด 
			.center(ng-if='auth.isLogged')
				iframe(width='560', height='315', src='https://www.youtube.com/embed/0YXSI8sJ960?rel=0&controls=0&showinfo=0&autoplay=1', frameborder='0', allowfullscreen='')

			p.text-center(ng-show='!auth.isLogged')
				| ยังไม่ได้เป็นสมาชิก? 
				a(href='#/register', data-toggle='modal', data-target='#myModal')  สมัครสิรอไร
