/*
SCSS Kit by Zreast
 */
@import url(https://fonts.googleapis.com/css?family=Prompt);
.font_prompt {
  font-family: 'Prompt',sans-serif; }

.center {
  text-align: center; }

.pos_fix {
  position: fixed;
  z-index: 999; }

.op_10 {
  opacity: 0.1; }

.op_30 {
  opacity: 0.3; }

.op_50 {
  opacity: 0.5; }

.op_70 {
  opacity: 0.7; }

.font_1dot0 {
  font-size: 1em; }

.t0x {
  font-size: 0em;
  margin: 0px; }

.font_1dot1 {
  font-size: 1.1em; }

.t1x {
  font-size: 1em;
  margin: 0px; }

.font_1dot2 {
  font-size: 1.2em; }

.t2x {
  font-size: 2em;
  margin: 0px; }

.font_1dot3 {
  font-size: 1.3em; }

.t3x {
  font-size: 3em;
  margin: 0px; }

.font_1dot4 {
  font-size: 1.4em; }

.t4x {
  font-size: 4em;
  margin: 0px; }

.font_1dot5 {
  font-size: 1.5em; }

.t5x {
  font-size: 5em;
  margin: 0px; }

.font_1dot6 {
  font-size: 1.6em; }

.t6x {
  font-size: 6em;
  margin: 0px; }

.font_1dot7 {
  font-size: 1.7em; }

.t7x {
  font-size: 7em;
  margin: 0px; }

.font_1dot8 {
  font-size: 1.8em; }

.t8x {
  font-size: 8em;
  margin: 0px; }

.font_1dot9 {
  font-size: 1.9em; }

.t9x {
  font-size: 9em;
  margin: 0px; }

.font_1dot10 {
  font-size: 2em; }

.t10x {
  font-size: 10em;
  margin: 0px; }

.font_1dot11 {
  font-size: 2.1em; }

.t11x {
  font-size: 11em;
  margin: 0px; }

.font_1dot12 {
  font-size: 2.2em; }

.t12x {
  font-size: 12em;
  margin: 0px; }

@media only screen and (max-width: 320px) {
  .font_responsive {
    font-size: 1em; } }

@media only screen and (max-width: 1024px) {
  .font_responsive {
    font-size: 1.5em; } }

@media only screen and (max-width: 1365px) {
  .font_responsive {
    font-size: 1.5em; } }

@media only screen and (max-width: 3448px) {
  .font_responsive {
    font-size: 1.5em; } }

@media only screen and (max-width: 500px) {
  .hide_500 {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; }

footer.page-footer {
  margin: 0; }

.push-down1 {
  margin-top: 100px; }

/* padded section */
.pad-section {
  padding: 50px 0; }
  .pad-section img {
    width: 100%; }

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0; }
  .text-vcenter .hackertext {
    -webkit-animation: flicker 2s infinite alternate; }

@-webkit-keyframes flicker {
  0% {
    color: #00acc1; }
  25% {
    color: #ffeb3b; }
  50% {
    color: #00897b; }
  75% {
    color: #ff4081; }
  100% {
    color: #039be5; } }

/* additional sections */
#home {
  background: url("../assets/img/hackerman.jpg") no-repeat center center fixed;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#upload {
  background: url("../assets/img/hackerman4.png") no-repeat center center fixed;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#services {
  background-color: #306d9f;
  color: #ffffff; }
  #services .fa {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px; }

#information {
  background: url("../assets/img/hackerman2.jpg") no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #information .panel {
    opacity: 0.85; }

footer {
  padding: 20px 0; }
  footer .glyphicon {
    color: #333333;
    font-size: 60px; }
    footer .glyphicon:hover {
      color: #306d9f; }

#footr {
  background: url("../assets/img/hackerman3.jpg") no-repeat center center fixed;
  display: table;
  height: 300px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #footr h2 {
    color: white; }

.nav_override {
  margin: 10px 20px 0px 20px;
  border-bottom: 1px solid #009688;
  background: #0fb8ad;
  /* Old browsers */
  background: -moz-linear-gradient(141deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(141deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(309deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%);
  background: -o-linear-gradient(309deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%);
  background: linear-gradient(141deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb8ad', endColorstr='#2cb5e8',GradientType=0 ); }
  .nav_override .plain_link {
    color: white !important; }

.footer_override {
  font-size: 1.2em;
  background: #212121;
  width: 100%; }
  .footer_override .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer_override .footer-logo img {
      height: 7em; }
  .footer_override .footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer_override ul {
    -webkit-flex-basis: 13em;
    -ms-flex-preferred-size: 13em;
    flex-basis: 13em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer_override li {
    color: rgba(255, 255, 255, 0.4);
    line-height: 1.5em;
    list-style: none;
    text-align: left; }
  .footer_override li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer_override li a:focus, .footer_override li a:hover {
      color: #26a69a; }
  .footer_override li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer_override hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 80%; }
  .footer_override p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }
    .footer_override p a {
      color: white;
      text-decoration: none; }
      .footer_override p a:hover {
        color: #26a69a; }
  .footer_override h3 {
    font-family: 'Prompt'; }

.login_module {
  background-color: #263238;
  padding-top: 150px; }
  .login_module h3 {
    color: #ecf0f1; }
  .login_module p {
    padding-top: 10px;
    color: #ecf0f1;
    font-size: 1.4em; }
    .login_module p .big {
      font-size: 1.4em; }
  .login_module a {
    color: #f1c40f; }
  .login_module a:hover {
    color: #efa039;
    text-decoration: none; }
  .login_module label {
    color: #ecf0f1;
    padding-top: 10px;
    font-size: 1.6rem; }
  .login_module .label-register {
    color: rgba(0, 109, 128, 0.52); }
  .login_module button {
    margin-top: 20px; }
  .login_module .border-login {
    border-right: 1px solid #fff;
    min-height: 450px;
    float: right; }
  .login_module .space-top {
    padding-top: 50px; }
  .login_module .modal-header {
    min-height: 16.42857143px;
    padding: 9px;
    border-bottom: 1px solid #e5e5e5;
    background: #263238;
    color: #fff;
    border-top: 1px solid #e65100;
    border-radius: 0; }
  .login_module .modal-footer {
    padding: 9px;
    text-align: right;
    border-top: 1px solid #607D8B; }
  .login_module .modal-content {
    position: relative;
    background-color: #CFD8DC;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-left: 1px solid #e65100;
    border-right: 1px solid #e65100;
    border-bottom: 1px solid #e65100;
    border-radius: 0;
    outline: 0; }
  .login_module .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 0; }

#file-upload {
  position: absolute;
  left: -9999px; }

label[for="file-upload"] {
  padding: 0.5em;
  display: inline-block;
  background: #86cf88;
  cursor: pointer; }
  label[for="file-upload"]:hover {
    background: #91d393; }

#filename {
  padding: 0.5em;
  float: left;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  background: #aadeac; }

.trans_container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid white;
  border-radius: 10px; }

.thumbnail_container {
  border: 2px dashed white;
  border-radius: 10px;
  height: auto;
  width: 300px; }
  .thumbnail_container img {
    height: auto;
    width: 295px;
    border-radius: 10px; }

.upload_module {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
