/*
SCSS Kit by Zreast
 */

@import "colors.scss";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Prompt);

$bb_main_theme: #ffebee;

.font_prompt{
		font-family: 'Prompt',sans-serif;
}

.pos_fix{
  position: fixed;
  z-index: 999;
}
.op_10{
  opacity: 0.1;
}
.op_30{
  opacity: 0.3;
}
.op_50{
  opacity: 0.5;
}
.op_70{
  opacity: 0.7;
}

@for $i from 0 through 12 {
  .font_1dot#{$i}{
    font-size: 1em + ($i/10);
  }
  .t#{$i}x {
    font-size: 1em * $i;
    margin: 0px;
  }
}

.font_responsive{
  @media only screen and (max-width: 320px) {
      font-size: 1em;
  }
  @media only screen and (max-width: 1024px) {
      font-size: 1.5em;
  }
  @media only screen and (max-width: 1365px) {
      font-size: 1.5em;
  }
  @media only screen and (max-width: 3448px) {
      font-size: 1.5em;
  }
}

.hide_500{
    @media only screen and (max-width: 500px) {
    display: none !important;
    }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  .material-icons {
    font-size: inherit;
  }
}

footer.page-footer {
  margin: 0;
}

.push-down1 {
	margin-top: 100px;
}

/* padded section */

.pad-section {
  padding: 50px 0;
  img {
    width: 100%;
  }
}

/* vertical-centered text */

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
	.hackertext{
		-webkit-animation: flicker 2s infinite alternate;
	}
	@-webkit-keyframes flicker {
		0% {
			color: $md-cyan-600;
		}
		25% {
			color: $md-yellow-500;
		}
		50% {
			color: $md-teal-600;
		}
		75% {
			color: $md-pink-a200;
		}
		100% {
			color: $md-light-blue-600;
		}
	}
}

/* additional sections */

#home {
  background: url('../assets/img/hackerman.jpg') no-repeat center center fixed;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services {
  background-color: #306d9f;
  color: #ffffff;
  .fa {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
}

#information {
  background: url('../assets/img/hackerman2.jpg') no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .panel {
    opacity: 0.85;
  }
}

footer {
  padding: 20px 0;
  .glyphicon {
    color: #333333;
    font-size: 60px;
    &:hover {
      color: #306d9f;
    }
  }
}

#footr {
	h2{
		color: white;
	}
  background: url('../assets/img/hackerman3.jpg') no-repeat center center fixed;
  display: table;
  height: 300px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.nav_override{
	margin: 10px 20px 0px 20px;
	border-bottom: 1px solid $md-teal-500;
  background: #0fb8ad; /* Old browsers */
  background: -moz-linear-gradient(141deg, #0fb8ad 1%, #1fc8db 50%, #2cb5e8 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(141deg, #0fb8ad 1%,#1fc8db 50%,#2cb5e8 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(141deg, #0fb8ad 1%,#1fc8db 50%,#2cb5e8 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb8ad', endColorstr='#2cb5e8',GradientType=0 );
	.plain_link{
		color:white !important;
	}
}


.footer_override {
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$medium-screen: 40em !default;
	$large-screen: 53.75em !default;
	$footer-background: $md-grey-900;
	$footer-color: white;
	$footer-link-color: transparentize($footer-color, 0.6);
	$footer-disclaimer-color: transparentize($footer-color, 0.6);
	font-size: 1.2em;

	background: $footer-background;
	width: 100%;

	.footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 7em;
    }
  }

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	ul {
		flex-basis: 13em;
		flex-shrink: 0;
		margin-bottom: $base-spacing * 2;
		padding: 0;
	}

	li {
		color: $footer-link-color;
		line-height: 1.5em;
		list-style: none;
		text-align: left;
	}

	li a {
		color: $footer-link-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: $md-teal-400;
		}
	}

	li h3 {
		color: $footer-color;
		font-size: 1em;
		margin-bottom: 0.4em;
	}

	hr {
		border: 1px solid transparentize($footer-disclaimer-color, 0.3);
		margin: 0 auto $base-spacing;
		width: 80%;
	}

	p {
		color: $footer-disclaimer-color;
		font-size: 0.9em;
		line-height: 1.5em;
		margin: auto;
		max-width: 35em;
		text-align: center;
		a{
			color: white;
			text-decoration: none;
			&:hover{
				color: $md-teal-400;
			}
		}
	}

	h3{
		font-family: 'Prompt';
	}
}
