doctype html
html(lang='en')
	head
		title Hackerman Secure File Storage
		meta(name='Keywords', content='')
		meta(name='Description', content='')
		include directives/inject.jade
		
	body(ng-app='myApp')
		include directives/nav_inject.jade
	
		div(ng-view='')
		include directives/footer.jade
