footer.page-footer.teal
  .container
    .row.font_prompt
      .col.l6.s12
        h5.white-text เกี่ยวกับเรา
        p.grey-text.text-lighten-4
          | Fusce iaculis fringilla tincidunt. Pellentesque velit massa, faucibus vitae laoreet sed, iaculis in urna. Integer auctor, elit in facilisis tristique, dui lacus faucibus massa, ac placerat ligula tortor a mi.
      .col.l3.s12
        h5.white-text ข้อมูล
        ul
          li
            a.white-text(href='#!') เงื่อนไขการใช้บริการ
          li
            a.white-text(href='#!')  นโยบายความเป็นส่วนตัว
      .col.l3.s12
        h5.white-text ติดต่อ
        ul
          li
            a.white-text(href='#!') โทร. :
          li
            a.white-text(href='#!') Fax :
          li
            a.white-text(href='#!') admin@email.com
  .footer-copyright
    .container
      | Made by Zreast @CE_KMITL
