meta(name='viewport', content='width=device-width,height=device-height, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

script(src='bower_components/angular/angular.js')
script(type='text/javascript', src='bower_components/ng-file-upload/ng-file-upload.min.js')
script(type='text/javascript', src='bower_components/ng-file-upload/ng-file-upload-shim.min.js')
script(src='bower_components/angular-route/angular-route.js')
script(src='bower_components/jquery/dist/jquery.js')
script(src='js/app.js')
script(src='js/controllers/userControllers.js')
script(src='js/services/jwtTokenHelpers.js')
script(src='js/services/authServices.js')
script(src='js/services/userServices.js')

link(rel='stylesheet', href='css/style.css')

link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='css/form_wrapper.css', type='text/css', rel='stylesheet', media='screen,projection')

script(src='js/materialize.js')
script(src='js/init.js')
