.navbar.navbar-inverse.navbar-fixed-top.nav_override(role='navigation')
	.container
		// Group Brand and toggle for better mobile display
		.navbar-header
			a.plain_link.navbar-brand(href='#/') Hackerman Secure File Storage
			// Collapse Button
			button.navbar-toggle(type='button', data-target='.navbar-collapse', data-toggle='collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		// @END navbar header
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li(ng-show='auth.isLogged')
					a.plain_link(href='#/admin') Upload
				// <li><a href="#/">Admin</a></li>
				li(ng-show='auth.isLogged')
					a.plain_link(href='#/about') My Files
			ul.nav.navbar-nav.navbar-right
				li(ng-if='auth.isLogged', ng-model='welcome')
					a.plain_link(href='#/logout') {{welcome}}! Logout
				li(ng-if='!auth.isLogged')
					a.plain_link(href='#/login') Login
